body {
    font-family: Arial, sans-serif;
    background-color: #7f9dfb;
    margin: 60px; 
}
h1{
    text-align: center;
    color: #2c3e50;
    margin-bottom: 10px;
    font-family: Josefin Sans, sans-serif;    
}
.title {
    text-align: center;
    color: #2c3e50;
}

.description {
    text-align: center;
    color: #1a253e;
    margin-bottom: 60px;
}

.card {
    width: 200px;          
    margin: 0 auto;         
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* corregido */
    border-radius: 10px;
    overflow: hidden;    
    background-color: #c5ebf7;
}

.card-img-top {
    width: 100%;           
    height: 120px;          
    object-fit: cover;      
}

.card-body {
    padding: 15px;          
    text-align: center;
}

.card-title {
    font-size: 16px;        
    margin-bottom: 10px;
    color: #2c3e50;
}

.card-text {
    font-size: 14px;
    color: #485d9a;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #485d9a;
    border: none;  /* black → none */
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
